<!-- list -->
<ul class="wraplist wrapper-menu">		
    
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard" class="nosub">
        <i class="material-icons">dashboard</i>
        <span class="title">Dashboard</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a href="javascript:;">
            <i class="material-icons">lock_outline</i>
            <span class="title">A1:2017-Injection</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>		
		<ul class="wraplist wraplist-sub sub-menu dk" >            
             <li ui-sref-active="active">
                <a ui-sref="app.a1_injection">OS Injection</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.a1_injection_sql">NOSql Injection</a>
            </li>  
            <li ui-sref-active="active">
                <a ui-sref="app.eval">Server side Js Injection</a>
            </li>            
        </ul> 
	</li>    
<!--
    <li ui-sref-active="active">
        <a ui-sref="app.a2_broken_auth" class="nosub">
        <i class="material-icons">lock_outline</i>
        <span class="title">A2:2017-Broken Auth</span>
        </a>
    </li> 
-->
    <li ui-sref-active="active">
        <a href="javascript:;">
            <i class="material-icons">lock_outline</i>
            <span class="title">A3:2017-SensitiveData</span>
            <span class="arrow material-icons">keyboard_arrow_right</span>
        </a>		
		<ul class="wraplist wraplist-sub sub-menu dk" >            
             <li ui-sref-active="active">
                <a ui-sref="app.a3_sensitive">Sensitive Data</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.a3_sensitive_header">Header</a>
            </li>            
        </ul> 
	</li> 
<!--
    <li ui-sref-active="active">
        <a ui-sref="app.a4_xxe" class="nosub">
        <i class="material-icons">lock_outline</i>
        <span class="title">A4:2017-XXE</span>
        </a>
    </li>
-->
    <li ui-sref-active="active">
        <a ui-sref="app.a5_insecure_dor" class="nosub">
        <i class="material-icons">lock_outline</i>
        <span class="title">A5:2017-Access Control</span>
        </a>
    </li> 
    <li ui-sref-active="active">
        <a ui-sref="app.a6_misconfig" class="nosub">
        <i class="material-icons">lock_outline</i>
        <span class="title">A6:2017-Misconfiguration</span>
        </a>
    </li> 
    <li ui-sref-active="active">
        <a ui-sref="app.a7_xss_reflected" class="nosub">
        <i class="material-icons">lock_outline</i>
        <span class="title">A7:2017-XSS</span>
        </a>
    </li> 
    <li ui-sref-active="active">
        <a ui-sref="app.a8_insecure_deserialization" class="nosub">
        <i class="material-icons">lock_outline</i>
        <span class="title">A8:2017-Insecure Deserialization</span>
        </a>
    </li> 
       	
	
	
    
    
	
	
</ul>
<!-- / list -->