<div class='content-wrapper' ng-init="app.settings.pagetitle = 'A3:2017-Sensitive Data';" ng-controller="a3_sensitive_header">
	<div class="col-lg-12">
		<section class="box ">
			<header class="panel_header">
				<h2 class="title pull-left">A3:2017-Sensitive Data - Header</h2>
				<div class="actions panel_actions pull-right"> <i class="box_toggle material-icons">expand_more</i> </div>
			</header>
			<div class="content-body padding-bottom-15">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div> </div>
						<table class="table table-bordered">
							<!--
							<thead>
								<tr>
									<th>#</th>
									<th>Name</th>
									<th>Age</th>
								</tr>
							</thead>
-->
							<tbody>
								<tr ng-repeat="(key, data) in res_value" ng-class="{'bg-danger' : key == 'x-powered-by'}">
									<td>{{key}}</td>
									<td>{{data}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>