<div class='content-wrapper' ng-init="app.settings.pagetitle = 'A6:2017-Misconfiguration';" ng-controller="a6_misconfigCtrl">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Check Your Account Details</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                    
                    <i class="box_close material-icons">close</i>
                </div>
            </header>
            <div class="content-body padding-bottom-0">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="account_number">enter Account Number</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <input type="text" class="form-control" ng-model="account_number">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <button type="button " class="btn btn-primary" ng-click="check_accountno(account_number)">Check</button>
                    </div>
                </div>
            </div>
            <div class="content-body padding-bottom-15">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Account Number</th>
                                    <th>Name</th>
                                    <th>Account Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{alldata.accountno}}</th>
                                    <td>{{alldata.name}}</td>
                                    <td>{{alldata.accounttype}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <span>{{error}}</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>